<!DOCTYPE html>
<template xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
          th:replace="~{layouts/application :: layout(~{::title},~{::main}, ~{::script})}">
    <title>Hello</title>
    <main>
        <div>
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/course}"><strong>Create Course</strong></a>
            </div>
            <h1>Course Lists</h1>
            <ul>
                <li th:each="course : ${ courses}">
                    <p th:text="${course.title}"></p>
                </li>
            </ul>
        </div>
    </main>
    <script>

    </script>
</template>