<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>
<h1>Create Course</h1>
<form th:action="@{/course}" th:object="${course}" th:method="post">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{information.title}">
    <span th:if="${#fields.hasErrors('information.title')}" th:errors="*{information.title}">Title Error</span>

    <label for="overview">Overview</label>
    <input id="overview" type="text" th:field="*{information.overview}">
    <span th:if="${#fields.hasErrors('information.overview')}" th:errors="*{information.overview}">Overview Error</span>

    <label for="instructor">Instructor</label>
    <input id="instructor" type="text" th:field="*{information.instructor}">
    <span th:if="${#fields.hasErrors('information.instructor')}" th:errors="*{information.instructor}">Instructor Error</span>

    <label for="type">Type</label>
    <select id="type" type="select" th:field="*{type}">
        <option th:each="type : ${types}" th:value="${type.name}" th:text="${type.name}"/>
    </select>
<!--    <input id="type" type="text" th:field="*{information.overview}">-->
    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</span>

    <input type="submit" th:value="Create">
</form>
</body>
</html>