<template lang="en"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layouts/application :: layout(~{::title}, ~{::content}, ~{::script})}">

    <title th:text="${course.title}">Title</title>

    <content>
        <div class="py-5">
            <div class="row-1">
                <div class="container-fluid">
                    <div class="pt-4">
                        <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                            <th:block th:each="lecture, rowStat : ${course.lectures}">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" th:classappend="${rowStat.first ? 'active' : ''}"
                                            data-bs-toggle="tab"
                                            th:data-bs-target="'#' + lecture- + ${lecture.index} + -tab" type="button"
                                            role="tab" aria-selected="true" th:text="${lecture.topic}"></button>
                                </li>
                            </th:block>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <th:block th:each="lecture, rowStat : ${course.lectures}">
                                <div class="tab-pane fade" th:classappend="${rowStat.first} ? 'show active' : ''"
                                     th:id="lecture- + ${lecture.index} + -tab" role="tabpanel"
                                     th:tabindex="${lecture.index}">
                                    <div>
                                        <h3 th:text="${lecture.topic}"></h3>
                                        <p th:text="${lecture.summary}"></p>
                                        <a th:href="${lecture.document.path}">Download PDF</a>
                                    </div>
                                    <video width="1280" height="640" controls>
                                        <source th:src="${lecture.video.path}"
                                                th:type="${lecture.video.type}">
                                    </video>

                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="pt-4">
                        <div class="row">
                            <div class="col-1">
                                <img class="rounded-circle"
                                     th:src="${course.student.avatar.path}" alt=""
                                     width="75" height="75">
                            </div>
                            <div class="col-3">
                                <h3 th:text="${course.title}"></h3>
                                <h5 th:text="${course.student.fullName}">>peter</h5>
                            </div>

                            <div class="col">
                                <button type="button" class="btn btn-primary w-25">Follow</button>
                            </div>
                        </div>

                        <div class="col pt-4">
                            <div class="col">
                                <h4>Course Overview</h4>
                                <p th:text="${course.overview}"></p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h6>Course Topics</h6>
                                    <th:block th:each="topic : ${course.topics}">
                                        <p th:text="${topic.title}"></p>
                                    </th:block>
                                </div>

                                <div class="col">
                                    <h6>Course Departments</h6>
                                    <th:block th:each="department : ${course.departments}">
                                        <p th:text="${department.title}"></p>
                                    </th:block>
                                </div>
                            </div>
                        </div>

                        <div class="pt-3">
                            <h3>Comment</h3>
                        </div>
                        <div class="">
                            <form class="d-flex w-100 " action="" th:action="@{'/course/' + ${course.id} + '/comment'}"
                                  th:object="${commentRequest}" method="post">
                                <input class="form-control me-2" type="text" placeholder="Comment Body"
                                       th:field="*{body}">
                            </form>
                        </div>
                        <div class="row">
                            <th:block th:each="comment : ${course.comments}">
                                <div class="row pt-4">
                                    <div class="col-1 ">
                                        <img class="rounded-circle"
                                             th:src="${comment.student.avatar.path}" alt=""
                                             width="75" height="75">
                                    </div>
                                    <div class="col">
                                        <h5 th:text="${comment.student.fullName}">Comment Owner</h5>
                                        <h6 th:text="${comment.body}">Comment Body</h6>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>


    <script>
    </script>

</template>