<template xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar bg-primary  fixed-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-light">TiwTor</a>
            <form class="d-flex justify-content-lg-center mx-auto w-50 " role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
            <a href="/course">
                <button class="btn btn-light" type="submit">Create-Course</button>
            </a>
        </div>
    </nav>
</template>