<template th:fragment="sidebar">
    <div class="container-fluid ">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark-subtle">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link px-0 align-middle ">
                                <i class="fs-4"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark">History</span> </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle ">
                                <i class="fs-4"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark">Follow</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i>
                                <span class="ms-1 d-none d-sm-inline text-dark">More</span> </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--            <div class="row-1">-->
            <!--                <div class="col pt-3">-->
            <!--                    <div class="d-flex flex-row mt-4 ms-4">-->
            <!--                        <div class="col-2 me-1">-->
            <!--                            <button type="button" class="btn btn-dark w-75">All</button>-->
            <!--                        </div>-->
            <!--                        <div class="col-2 me-1">-->
            <!--                            <button type="button" class="btn btn-dark w-75">Technology</button>-->
            <!--                        </div>-->
            <!--                        <div class="col-2 me-1">-->
            <!--                            <button type="button" class="btn btn-dark w-75">Math</button>-->
            <!--                        </div>-->
            <!--                        <div class="col-2 me-1">-->
            <!--                            <button type="button" class="btn btn-dark w-75">Science</button>-->
            <!--                        </div>-->
            <!--                        <div class="col-2 me-1">-->
            <!--                            <button type="button" class="btn btn-dark w-75">English</button>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="container-fluid">-->
            <!--                    <div class="pt-5 ps-5 row">-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="container-fluid">-->
            <!--                    <div class="pt-5 ps-5 row">-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-3">-->
            <!--                            <div class="card" style="width: 25rem;">-->
            <!--                                <img class="card-img-top" src="https://dummyimage.com/400x180">-->
            <!--                                <div class="card-body">-->
            <!--                                    <h5 class="card-text">Spring boot + thymeleaf.</h5>-->
            <!--                                    <h6 class="card-text">peter</h6>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

        </div>
    </div>
</template>