<!DOCTYPE html>
<template lang="en"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layouts/application :: layout(~{::title},~{::main}, ~{::script})}">
    <title>Home - OCW</title>
    <main>

        <header th:replace="partials/header.html :: header"></header>

        <div>
            <div class="row-1">
                <div class="col pt-3">
                    <div class="d-flex flex-row mt-4 ms-4">
                        <th:block th:each="topic : ${topics}">
                            <div class="col-2 me-1">
                                <button type="button" class="btn btn-primary  w-75" th:text="${topic.title}">All
                                </button>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="pt-5 row">
                    <th:block th:each="course : ${courses}">
                        <div class="col-4">
                            <a th:href="${course.path}">
                                <div class="card" style="width: 25rem;">
                                    <img class="card-img-top"
                                         th:src="${course.thumbnail.path}"
                                         alt="" width="400" height="100" style="object-fit: cover">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <img class="rounded-circle"
                                                     th:src="@{'/storages/images/' + ${course.student.avatar.fileName}}"
                                                     alt="" width="50" height="50">
                                            </div>
                                            <div class="col">
                                                <h5 class="card-text" th:text="${course.title}">Course Name</h5>
                                                <h6 class="card-text" th:text="${course.student.firstName}">Owner
                                                    Name</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </main>
    <script>

    </script>
</template>