<!DOCTYPE html>
<template lang="en"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          th:replace="~{layouts/application :: layout(~{::title}, ~{::content}, ~{::script})}">

    <title th:text="${topic.title}">Topic ID</title>

    <th:block th:fragment="content">
        <a href="/topics">Back</a>
        <h1 th:text="${topic.title}"></h1>
        <th:block th:each="subTopic : ${subTopics}">
            <a th:href="@{'/topic/' + ${topic.id} + '/subs/' + ${subTopic.id}}"><strong
                    th:text="${subTopic.title}"></strong></a>
        </th:block>
    </th:block>

    <script>

    </script>

</template>